<div class="tabl">	
	<li class="fil-10 file-mov-50">
	<input type="text" class="form-control" id="system_100_orden" name="system_100_orden" value="{system_100_orden}" placeholder="Orden" maxlength="3">
	</li>
	<li class="fil-10 file-mov-50">
	<input type="text" class="form-control" id="system_100_orden_seccion" name="system_100_orden_seccion" value="{system_100_orden_seccion}" placeholder="Orden seccion" maxlength="4">
	</li>
	<li class="fil-10 file-mov-50">
	<input type="text" class="form-control dni" id="system_100_dni" name="system_100_dni" value="{system_100_dni}" placeholder="DNI" maxlength="8">
	</li>
	<li class="fil-40 file-mov-50">
	<input type="text" class="form-control" id="system_100_congresista" name="system_100_congresista" value="{system_100_congresista}" placeholder="Nombre del congresista" maxlength="60">
	</li>

	<li class="fil-20 file-mov-50">
	<input type="text" class="form-control" id="system_100_departamento" name="system_100_departamento" value="{system_100_departamento}" placeholder="Departamento" maxlength="30">
	</li>		
    <li class="fil-10 file-mov-50 align-right">
		<h4 onClick="{funcion_cerrar}" 		style="float:right; cursor:pointer; margin-left:20px;" 	class="bi bi-x-lg"></h4>
		<h4 onClick="{funcion_guardar}" 	style="float:right; cursor:pointer;" 	class="bi bi-caret-right-square-fill"></h4>			
	</li>  
</div>

 