<div class="tabl" id="content_{id_system_100}">	
	<li class="fil-10 file-mov-15">
		{system_100_orden}
	</li>
	<li class="fil-10 file-mov-15">
		{system_100_orden_seccion}
	</li>
	<li class="fil-20 file-mov-70">
		<span class="dni">{system_100_dni}</span>
	</li>	
	<li class="fil-30 file-mov-100">
		{system_100_congresista}
	</li>
	<li class="fil-20 file-mov-50">
		{system_100_departamento}
	</li>		
    <li class="fil-10 file-mov-50 align-right">
	{boton_on_off}
	{funcion_editar}
	{funcion_borrar}
	</li>  
</div>



