	<div class="col-md-8 col-sm-8">
		<input class="form-control" type='text' id="system_08_tema"  name='system_08_tema'  value='{system_08_tema}' maxlength="150">
	</div>
	<div class="col-md-4 col-sm-4">		
		<ul class="nav justify-content-end">
		
			<li class="fil-60 file-mov-70">
			<input class="form-control" type='text' id="system_08_total_objetivo"  name='system_08_total_objetivo'  value='{system_08_total_objetivo}' maxlength="7">
			</li>
			<li class="fil-40 file-mov-30 align-right tipo-send">
			<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
			<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
			</li>	
		
		</ul>
	</div> 
	
			

 
	 	
		
	
	