<form name="abm3" id="abm3" method="post"><nav class="navbar navbar-light bg-light">
  <div class="container" id="configuracion">
	<div class="col-md-10 col-sm-10">
		<h4>Home</h4>
	</div>
	<div class="col-md-2 col-sm-2">		
		<ul class="nav justify-content-end">
			
		&nbsp;
		</ul>
	</div>  
  </div>
</nav></form>



<div class="container">
	
				
				<br />
				<br />
				<h3 onclick="{funcion_api}">Ir a Afiliados</h3>
				<div id="content_api"></div> 

</div>
 

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div id="popup_canvas"></div> 
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div id="popup_canvas_left"></div> 
</div>




