
	
	<li class="fil-10 file-mov-20">
	<h5>{system_602_orden}</h5>
	</li>	
	<li class="fil-50 file-mov-80">
	<h5>{system_602_sublema}</h5>
	</li>		
	<li class="fil-10 file-mov-25">
	<input class="form-control" type='text' id="system_605_1ro"  name='system_605_1ro'  value='{system_605_1ro}' maxlength="6">
	</li>
	<li class="fil-10 file-mov-25">
	<input class="form-control" type='text' id="system_605_2do"  name='system_605_2do'  value='{system_605_2do}' maxlength="6">
	</li>
	<li class="fil-10 file-mov-25">
	<input class="form-control" type='text' id="system_605_3ro"  name='system_605_3ro'  value='{system_605_3ro}' maxlength="6">
	</li>
	<li class="fil-10 file-mov-25">
	<input class="form-control" type='text' id="system_605_4to"  name='system_605_4to'  value='{system_605_4to}' maxlength="6">
	</li>
    <li class="fil-100 file-mov-100 align-right tipo-send">
	<h1 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h1>
	<h1 onClick="{funcion_volver}" class="bi bi-x-lg"></h1>
	</li> 
	 	
		
	
	