
	
	<li class="fil-5 file-mov-10">
	{funcion_borrar_lema}
	</li>
	<li class="fil-10 file-mov-30">
	<input class="form-control" type='text' id="system_602_orden"  name='system_602_orden'  value='{system_602_orden}' placeholder="N&deg; Boleta"  maxlength="4">
	</li>	
	<li class="fil-50 file-mov-60">
	<input class="form-control" type='text' id="system_602_sublema"  name='system_602_sublema'  value='{system_602_sublema}' placeholder="Nombre agrupaci&oacute;n..."   maxlength="130">
	</li>		
	<li class="fil-10 file-mov-ocult">
	&nbsp;
	</li>
	<li class="fil-10 file-mov-ocult">
	&nbsp;
	</li>
    <li class="fil-15 file-mov-100 align-right tipo-send">
	<h2 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h2>
	<h2 onClick="{funcion_volver}" class="bi bi-x-lg"></h2>
	</li> 
	 	
		
	
	