	<tr style="border-bottom:1px solid #ccc;">
		<td width="50%" >
		<h4>VOTOS NULOS</h4>
		</td>
		<td class="align-right">
		<input class="form-control" type='text' id="system_606_nulos"  name='system_606_nulos'  value='{system_606_nulos}' maxlength="6" style="width:100px; float:right;">
			
		</td>
	</tr>
	<tr style="border-bottom:1px solid #ccc;">
		<td >
		<h4>VOTOS RECURRIDOS</h4>
		</td>
		<td class="align-right">
		
		<input class="form-control" type='text' id="system_606_recurridos"  name='system_606_recurridos'  value='{system_606_recurridos}' maxlength="6" style="width:100px; float:right;">
		</td>
	</tr>
	<tr style="border-bottom:1px solid #ccc;">
		<td>
		<h4>VOTOS DE IDENTIDAD IMPUGNADA</h4>
		</td>
		<td  class="align-right">
		<input class="form-control" type='text' id="system_606_impugnada"  name='system_606_impugnada'  value='{system_606_impugnada}' maxlength="6" style="width:100px; float:right;">
			
		</td>
	</tr>
	<tr  style="border-bottom:1px solid #ccc;">
		<td >
		<h4>VOTOS DE COMANDO ELECTORAL</h4>
		</td>
		<td class="align-right">
		<input class="form-control" type='text' id="system_606_comando"  name='system_606_comando'  value='{system_606_comando}' maxlength="6" style="width:100px; float:right;">
			
		</td>
	</tr>
	<tr  style="border-bottom:1px solid #ccc;">
		<td >
		<h4>VOTOS EN BLANCO</h4>
		</td>
		<td class="align-right">
		<input class="form-control" type='text' id="system_606_blanco"  name='system_606_blanco'  value='{system_606_blanco}' maxlength="6" style="width:100px; float:right;">
			
		</td>
	</tr>
	<tr style="border-bottom:1px solid #ccc;">
		<td>
		<h1>TOTAL VOTOS</h1>
		</td>
		<td class="align-right">
		<input class="form-control" type='text' id="system_606_total"  name='system_606_total'  value='{system_606_total}' maxlength="6" style="width:100px; float:right;">
			
		</td>
	</tr>
	<tr style="border-bottom:1px solid #ccc;">
		<td>
		&nbsp;
		</td>
		<td class="align-right">
			<h1 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h1>
			<h1 onClick="{funcion_volver}" class="bi bi-x-lg"></h1>	
		</td>
	</tr>