<nav class="navbar navbar-light bg-light">
  <div class="container">
	<div class="col-md-10 col-sm-12">
		{titulo_modulo}
	</div>
	<div class="col-md-2 col-sm-12 align-right">
		
		
		<ul class="nav justify-content-end ">
		
		 <li class="nav-item">
			<div class="input-group">
			 {caja_formu}
			</div>
		  </li>
	
		</ul>
		 {reset_link}
		
	</div> 
  </div>
</nav>


	<div class="container">
		<div class="row">
		  
			 <div class="tabl">
				<li class="fil-30 strong">
				Mesa
				</li>
				<li class="fil-40 strong align-center">
				Orden
				</li>		
				<li class="fil-30 strong align-right">
				Voto
				</li> 
			</div>	 		
						
				{tabla_lectores}

		  <div class="tabl">
				<li class="fil-100 align-center">
				<br />
				<br />

				{system_504_localidad}
				<br />
				<br />
				</li>		 
			</div>
			
		</div>
	</div>

