
	<li class="fil-40 file-mov-50">
	<input  class="form-control" type='password' name='system_03_clave' id="system_03_clave" value='{system_03_clave}' placeholder="Nueva clave" maxlength="9">
	</li>
	<li class="fil-40 file-mov-50">
	<input  class="form-control" type='password' name='system_03_clave_copy' id="system_03_clave_copy" value='{system_03_clave_copy}' placeholder="Repita Nueva clave" maxlength="9">
	</li>	
    <li class="fil-20 file-mov-100 align-right tipo-send">
	<h4 onClick="{funcion_salvar}" class="bi bi-caret-right-square-fill"></h4>
	<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
	</li> 

