{msj_resultado}



<form name="smp"  method="post">					
	<div class="col-md-12">
	<input name='system_04_apellido' id="system_04_apellido" value='{system_04_apellido}' maxlength="33" type="text" class="form-control form-control-lg" placeholder="* Apellido" aria-label="system_04_apellido" style="margin-bottom:10px; width:50%; float:left;" required>
	<input name='system_04_nombre' id="system_04_nombre" value='{system_04_nombre}' maxlength="44" type="text" class="form-control form-control-lg" placeholder="Nombre" aria-label="system_04_nombre" style="margin-bottom:10px; width:50%; float:left;" required>
	</div>
	<div class="col-md-12">
	<input name="system_04_dni" id="system_04_dni"  value='{system_04_dni}' maxlength="10"  type="text" class="form-control form-control-lg dni" placeholder="* DNI" aria-label="system_04_dni" style="margin-bottom:10px;"  onKeyPress="return {funcion_dni_enter}"  style="margin-bottom:10px; width:50%; float:left;" required>
	<input name='system_04_celular' id="system_04_celular" value='{system_04_celular}'  maxlength="16" type="text" class="form-control form-control-lg phone_arg_whatsapp" placeholder="* Celular" aria-label="system_04_celular" style="margin-bottom:10px;"  style="margin-bottom:10px; width:50%; float:left;" required>
	</div>
	<div class="col-md-12">
	<input name='system_04_localidad' id="system_04_localidad" value='{system_04_localidad}' maxlength="100" type="text" class="form-control form-control-sm" placeholder="Localidad" aria-label="system_04_localidad" style="margin-bottom:10px; width:50%; float:left;">	
	<input name='system_04_barrio' id="system_04_barrio" value='{system_04_barrio}' maxlength="44" type="text" class="form-control form-control-sm" placeholder="Barrio" aria-label="system_04_barrio" style="margin-bottom:10px; width:50%; float:left;">
	
	</div>
	<div class="col-md-12">
	<input name='system_04_direccion' id="system_04_direccion" value='{system_04_direccion}' maxlength="220" type="text" class="form-control form-control-sm" placeholder="Direcci&oacute;n" aria-label="system_04_direccion" style="margin-bottom:10px;">
	</div>

							
	<button type="button" class="btn {btn_boton}"  onClick="{funcion_registrar_cliente}" style="width:100%; margin-top:10px; font-size:22px; padding:2px;">{msj_boton}</button>
</form>

