<input type='hidden' name='system_sexo'  id="system_sexo" value="{system_sexo}">
<input type='hidden' name='system_circuito'  id="system_circuito" value="{system_circuito}">

<div class="mb-3">
<label for="" class="form-label">DNI:</label>
<h3 onclick="{funcion_refrescar}">{system_dni}</h3>
</div>				
<div class="mb-3">
<label for="" class="form-label">APELLIDO NOMBRE:</label>
<h3>{system_nombre_apellido}</h3>
</div>

<div class="mb-3">
<label for="" class="form-label">DOMICILIO:</label>
<h3>{system_domicilio} - {system_circuito}</h3>
</div>

<div class="mb-3">
<label for="" class="form-label">LOCALIDAD:</label>
<h3>{system_localidad}</h3>
</div>

<div class="mb-3">
<label for="" class="form-label">DEPARTAMENTO:</label>
<h3>{system_dpto}</h3>
</div>
					

<div class="mb-3">
<label for="" class="form-label">FOTOS FRENTE Y DORSO DEL DNI:</label>
{imagen_frente}
{imagen_dorso}
</div>


					
<div class="mb-3">
{funcion_cargar_archivo}
</div>
	
	
	
	
	
				
<div class="mb-3">
<br />
<br />
<br />

</div>
		

