<nav class="navbar navbar-warning bg-warning">
  <div class="container">
	<div class="col-md-10 col-sm-12">
		{titulo_modulo}
	</div>
	<div class="col-md-2 col-sm-12 align-right">
		{caja_formu} {reset_link}
	</div> 
  </div>
</nav>


	<div class="container">
		<div class="row">
		  
			 <div class="tabl">
				<li class="fil-50 strong align-left">
				Orden
				</li>		
				<li class="fil-50 strong align-right">
				DNI
				</li> 
			</div>	 		
						
				{LISTADO}

		  
		</div>
	</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div id="popup_canvas"></div> 
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div id="popup_canvas_left"></div> 
</div>
