<nav class="navbar navbar-light bg-light">
  <div class="container">
	<div class="col-md-6 col-sm-12  file-mov-ocult">
		<h3>{titulo_modulo}</h3>
	</div>
	<div class="col-md-6 col-sm-12">
		<ul class="nav justify-content-end ">
		  <form name="busqueda">
			<div class="input-group">
					<input autofocus  class="form-control form-control-lg dni" type="text"  name="variable_buscar" id="variable_buscar" placeholder="CONSULTAR DNI..." aria-label="Recipient's username" aria-describedby="button-addon2" maxlength="10"  onKeyPress="return {funcion_busqueda_enter}">
					<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="{funcion_busqueda}"><i class="bi bi-search"></i></button>	
				
			</div>
		  </form>&nbsp;
		</ul>
	</div>  
  </div>
</nav>


<div class="container">
	<div class="row" style="border:1px solid #ccc; margin:0px; ">	

		<form name="abm2" id="abm2"  method="post">
				 		
				
				<div id="content_nuevo">{RESULTADO}</div>
						
		
		</form>		
			  
	</div>
	<div class="row" id="content_lista">
		<a href="javascript:;" onclick="{funcion_lista}">Lista sin afiliar</a>
	
	</div>
</div>

