<input type='hidden' name='system_704_sexo'  id="system_704_sexo" value="{system_704_sexo}">
<input type='hidden' name='system_704_circuito'  id="system_704_circuito" value="{system_704_circuito}">

<div class="mb-3">
<label for="" class="form-label">DNI:</label>
<input type='text' class="form-control form-control-lg dni"  value='{system_704_dni}' name='system_704_dni'  id="system_704_dni"  placeholder="DNI" maxlength="10" {disabled}>
</div>
					
<div class="mb-3">
<label for="" class="form-label">APELLIDO:</label>
<input type='text'  class="form-control"  name='system_704_apellido'  id="system_704_apellido"  value='{system_704_apellido}'  placeholder="Apellido"  {disabled}>

</div>

<div class="mb-3">
<label for="" class="form-label">NOMBRE:</label>
<input type='text'  class="form-control"   name='system_704_nombre'  id="system_704_nombre" value='{system_704_nombre}'  placeholder="Nombre"   {disabled}>

</div>

<div class="mb-3">
<label for="" class="form-label">DOMICILIO:</label>
<input type='text'  class="form-control form-control-lg" name='system_704_domicilio'  id="system_704_domicilio" value='{system_704_domicilio}'  placeholder="Domicilio" maxlength="80">

</div>

<div class="mb-3">
<label for="" class="form-label">LOCALIDAD:</label>
<input type='text'  class="form-control form-control-lg" name='system_704_localidad'  id="system_704_localidad" value='{system_704_localidad}'  placeholder="Localidad" maxlength="80">

</div>

<div class="mb-3">
<label for="" class="form-label">DEPARTAMENTO:</label>
<input type='text'  class="form-control form-control-lg" name='system_704_dpto'  id="system_704_dpto" value='{system_704_dpto}'  placeholder="Departamento" maxlength="80">
</div>


<div class="mb-3">
<label for="" class="form-label">Sexo:</label>
<select class="form-control form-control-lg" id="" name="">
{SEXO}				
</select>
</div>


					
					
<div class="mb-3">
	<button type="button" onClick="{funcion_guardar}" class="btn btn-primary btn-lg w-100 mb-3">Enviar</button>
	<button type="button" onClick="{funcion_volver}" class="btn btn-secondary btn-lg w-100">Cancelar</button>
</div>
				
<div class="mb-3">
<br />
<br />
<br />

</div>
		

