<div class="tabl" id="content_{system_2000_dni}">
	<li class="fil-30 file-mov-100">
		<h5><span class="dni" >{system_2000_dni}</span> ({system_tipo_dni})</h5>
		{system_2000_apellido}, {system_2000_nombre}
	</li>		
	<li class="fil-30 file-mov-100">
		{system_domicilio}
		<div class="minitex">{system_localidad_depta} ({system_circuito})</div>
	</li>
	<li class="fil-40 file-mov-100">
		Mesa: {system_mesa} - Orden: {system_orden} - {system_escuela}
		<div class="minitex">{localidad_escuela}</div>
	</li>		
</div>




