
<form class="row g-3 p-md-4  rounded-1 bg-dark form1" action="#" id="abm" name="abm" style="color: #fff; font-size:11px; padding-bottom:10px; margin-top:20px;">
	
	
	
  <div class="col-md-6">
    <label for="system_04_nombre" class="form-label">* Nombre</label>
    <input type="text" class="form-control" name="system_04_nombre" id="system_04_nombre" required>
  </div>
  <div class="col-md-6">
    <label for="system_04_apellido" class="form-label">* Apellido</label>
    <input type="text" class="form-control" name="system_04_apellido" id="system_04_apellido" required>
  </div>
   <div class="col-md-6">
 <label for="system_04_celular" class="form-label">* Celular</label>
    <input type="text" class="form-control phone_arg_whatsapp" name="system_04_celular" id="system_04_celular" required>
 </div>
  <div class="col-md-6">
  <label for="system_04_email" class="form-label">* Email</label>
    <input type="email" class="form-control" name="system_04_email" id="system_04_email" required>
  </div> 
  <div class="col-md-6">
    <label for="system_04_cuil" class="form-label">* Raz&oacute;n Social</label>
    <input type="text" class="form-control" name="system_04_profesion" id="system_04_profesion" required>
 </div>
  <div class="col-md-6">
    <label for="system_04_cuil" class="form-label">** CUIT</label>
    <input type="text" class="form-control cuit" name="system_04_cuil" id="system_04_cuil" required>
 </div>
  
<!--  	<div class="col-md-12" >
		<input name='codigo_captcha' id="codigo_captcha" value='' maxlength="8" type="text" class="form-control form-control-sm" placeholder="Captcha" aria-label="codigo_captcha" style="width:48%; float:left; margin:0px 20px 0px 0px;" required>
		<img src="php/captcha.php" border="0" style="margin:0px;"/>
	</div>-->
							
							
  {titulo_modulo}
  	
</form>


