  <div class="offcanvas-header">
  
    <h5 class="offcanvas-title" id="offcanvasRightLabel">{title_canvas}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  
  </div>
  <div class="offcanvas-body">

		<ul class="list-group">		
		  <li class="list-group-item active" aria-current="true">
		  <div style="width:43%; float:left;">Modulos/Permisos</div><div style="width:57%; float:right;">A | B | M | E | V | S | D | I | C</div>
		  </li>
		  {LISTA_MODULOS}
		  
		<div class="minitex"> 
		 A = Agrega<br />
		 B = Borra<br />
		 M = Modifica<br />
		 E = Estados<br />
		 V = Verifica<br />
		 S = Sube<br />
		 D = Descarga<br />
		 I = Imprime<br />
		 C = Chat
		 </div>	
		</ul>								
								
  </div>