<div class="tabl">
	<li class="fil-5 file-mov-25">
		{id_system_03}
	</li>		
	<li class="fil-40 file-mov-50">
		<a href="javascript:{funcion_editar};" title="Editar datos: {system_04_nombre}, {system_04_apellido}">{system_04_nombre}, {system_04_apellido}</a>
	</li>
	<li class="fil-20 file-mov-25">
		<span class="dni">{system_04_dni}</span>
	</li>
	<li class="fil-25 file-mov-25"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" onClick="{funcion_pop_canvas}">
		<i class="bi bi-card-checklist"></i> {system_07_nombre}
	</li>
    <li class="fil-10 file-mov-50 align-right">	
		{funcion_link_whatsapp}
		
		
	
		<a href="javascript:;" onclick="{on_off}" title="{estado}"><i class="{system_03_estado}"></i></a>
		<a href="javascript:;" onclick="{funcion_editar}" title="Editar: {system_04_nombre} {system_04_apellido}"><i class="bi bi-pencil-square"></i></a>
		<a href="javascript:;" onclick="{funcion_borrar}" title="Borrar: {system_04_nombre} {system_04_apellido}"><i class="bi bi-trash-fill"></i></a>	
		
	</li>
</div>	

