<div class="menu-top">
	<div class="col-xs-3 col-sm-12">
		<h3  class="tex-blanco">DNI <span class="dni">{system_600_dni}</span></h3>	
	</div>
	<div class="col-xs-6 col-sm-12">
	<h3  class="tex-blanco"></h3>
	</div>	
	<div class="col-xs-3 col-sm-12">
	<h3  class="tex-blanco">Circ.: {system_circuito}</h3>
	</div>
</div>


<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr class="titulo-columna">
		<td  width="10%" class="align-50">
		N&deg; Planilla
		</td>
		<td  width="*" class="align-0">
		del Dirigente corresponde al
		</td>
		<td class="align-50">
		Circuito
		</td>
		<td class="align-0">
		Fecha de carga
		</td>			
		<td  width="15%" class="align-50" >
		Tareas
		</td>
		
		{LISTADO}	
		
	</tr>	
</table>
<br />
<br />
<br />



