<nav class="navbar navbar-light bg-light">
  <div class="container">
	<div class="col-md-3 col-sm-12">
		<h3>{titulo_modulo}</h3>
	</div>
	<div class="col-md-9 col-sm-12">
	
	<ul class="nav justify-content-end ">
				 	
				  <li class="nav-item">
						&nbsp;
				  </li>
				  <li class="nav-item">
						&nbsp;&nbsp;&nbsp;&nbsp;
				  </li>
				  <li class="nav-item">
						
						<h3 onClick="{funcion_volver}" style="cursor:pointer; margin:0px; float:right;" title="Volver atras" class="bi bi-x-lg"></h3>
					
				  </li>

				</ul>


	</div>  
  </div>
</nav>

	<div class="container">
		<div class="row">	

			<form name="abm" id="abm"  method="post">
			<div class="tabl">
				<li class="fil-20  file-mov-ocult strong">
				Escuela
				</li>
				<li class="fil-25  file-mov-ocult strong">
				Direcci&oacute;n
				</li>
				<li class="fil-5 	file-mov-ocult strong" >
					Crto.
				</li>
				<li class="fil-50  file-mov-ocult strong">
				Ubicaci&oacute;n
				</li>	
			</div>	 		
				
				{LISTADO}
				
			<div class="tabl" id="content_">
				<li class="fil-20 file-mov-50 file-mov-50">
				{PAGINAR}
				</li>	
				<li class="fil-40 file-mov-50" >
				<i onclick="{funcion_agregar}" class="bi bi-plus-circle"></i>
				</li> 
				<li class="fil-40 file-mov-ocult">
				&nbsp;
				</li>
			</div>	
		<br />
		<br />
		<br />
		<br />
		<br /></form>		
	  	

		</div>
	</div>




