<li class="fil-20  file-mov-ocult strong">
	<input type="text" class="form-control" id="system_503_escuela" name="system_503_escuela" value="{system_503_escuela}" placeholder="Escuela..." maxlength="120">
		
</li>
<li class="fil-25  file-mov-ocult strong">
	<input type="text" class="form-control" id="system_503_direccion" name="system_503_direccion" value="{system_503_direccion}" placeholder="Direccion..." maxlength="120">
</li>
<li class="fil-5  file-mov-ocult strong">
	<input type="text" class="form-control" id="system_503_circuito" name="system_503_circuito" value="{system_503_circuito}" placeholder="Cto" maxlength="3">

</li>
<li class="fil-40  file-mov-ocult strong">
	<textarea class="form-control" placeholder="Google Maps..." id="system_503_ubicacion" name="system_503_ubicacion"  cols="" rows="2">{system_503_ubicacion}</textarea>	
</li>
<li class="fil-10 file-mov-100 align-right tipo-send">
	<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
	<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
</li> 
		

