	<td class="align-50">
	<input type='text' name='system_04_dni'  id="system_04_dni" value='{system_04_dni}' class="dni"  placeholder="DNI" style="height:20px; margin:0px 2px 0px 0px; padding:0px; float:left; font-size:14px;" maxlength="10">
	
	</td>		
	<td>
	<input type='text' name='system_04_apellido'  id="system_04_apellido" value='{system_04_apellido}' style="height:20px; margin:0px 2px 0px 0px; padding:0px; float:left; width:48%; font-size:14px;"  placeholder="Apellido" maxlength="33">
	<input type='text' name='system_04_nombre'  id="system_04_nombre" value='{system_04_nombre}' style="height:20px; margin:0px; padding:0px; width:48%; font-size:14px;"  placeholder="Nombre" maxlength="44">
	</td>
	<td class="align-50">
	{system_501_departamento}
	</td>	
	<td class="align-50">
	<select id="rela_system_502" id="rela_system_502" style="height:20px; margin:0px; padding:0px; font-size:14px;" >
	<option value=""></option>
	{CIRCUITO}				
	</select>
	</td>
	<td class="align-50" >
	<input name="Guardar"  type="button" class="save-min" onClick="{funcion_guardar}" value="&nbsp;&nbsp;">
	<a href="javascript:;" onClick="{funcion_volver}"><div class="exite"></div></a>
	</td>