<li class="fil-20  file-mov-ocult strong">
&nbsp;
</li>
<li class="fil-30  file-mov-ocult strong">
<select  class="form-control" id="rela_system_03" name="rela_system_03"  >
		<option value="">Elija dirigente</option>
		{DIRIGENTES}				
		</select>
</li>	
<li class="fil-30  file-mov-ocult strong">
&nbsp;
</li>
<li class="fil-20 file-mov-100  align-right tipo-send">
		<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
		<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>	
</li>