  <div class="offcanvas-header">
  
    <h5 class="offcanvas-title" id="offcanvasRightLabel">{title_canvas}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  
  </div>
  <div class="offcanvas-body">





			<div class="tabl minitex">
				<li class="fil-50  file-mov-ocult strong">
				# Planilla / Dirigente
				</li>	
				<li class="fil-50  file-mov-ocult strong">
				Fecha de registro
				</li> 
			</div>	 		
				
				{LISTADO}
  
										
								
  </div>