<div class="tabl" id="content_{id_system_600}">
	<li class="fil-10  file-mov-30">
		<span class="dni">{system_600_dni}</span>
	</li>		
	<li class="fil-40 file-mov-50">
		{system_600_apellido_nombre}
	</li>
	<li class="fil-30  file-mov-ocult">
		{funcion_ver_escuela}
	</li>
	<li class="fil-10  file-mov-ocult">
		{system_600_mesa}
	</li>
    <li class="fil-10 file-mov-20 align-right">	
		<span data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" onClick="{funcion_pop_disputa}">{system_600_disputa}</span>&nbsp;
		<a href="javascript:;" onclick="{funcion_remover}" title="Remover: {system_600_dni}"><i class="bi bi-trash-fill"></i></a>	
	</li>
</div>
