<div class="tabl" id="content_{id_system_601}">
	<li class="fil-10  file-mov-ocult">
		{DOWN}
	</li>
	<li class="fil-10 file-mov-15" onclick="{funcion_entrar}" style="cursor:pointer;">
		<strong>{id_system_601}</strong>
	</li>	
	<li class="fil-40  file-mov-60" onclick="{funcion_entrar}" style="cursor:pointer;">
		{system_apellido_nombre}
	</li>		
	<li class="fil-10 file-mov-5">
		{total}
	</li>
	<li class="fil-10 file-mov-5">
		{disputa} 
	</li>
    <li class="fil-20 file-mov-5 align-right">	
		<a href="javascript:;" onclick="{funcion_borrar}" title="Borrar: {system_apellido_nombre}"><i class="bi bi-trash-fill"></i></a>	
	</li>
</div>	



