<nav class="navbar navbar-light bg-light">
  <div class="container">
	<div class="col-md-10 col-sm-12">
		{titulo_modulo}
	</div>
	<div class="col-md-2 col-sm-12 align-right">
		{caja_formu} {reset_link}
	</div> 
  </div>
</nav>


	<div class="container">
		<div class="row">
		  
			 <div class="tabl">
				<li class="fil-30 strong">
				Mesa
				</li>
				<li class="fil-40 strong align-center">
				Orden
				</li>		
				<li class="fil-30 strong align-right">
				Voto
				</li> 
			</div>	 		
						
				{LISTADO}

		  
		</div>
	</div>

