@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body { 
background:#fff;
font-family: 'Roboto', Tahoma, Sans-serif;
}
.logo {
background: url('../image/logo.png') no-repeat 50% 50%;
background-size:auto ;
width: 100%;
height: 180px;
}
.izo {
background: url('../image/izo.png') no-repeat 15% 50%;
background-size:auto 22px ;
width: 100%;
height: 50px;
}
.box_b {
	width: 28px;
	height: 28px;
}
.logo-web {
background: url('../image/logo.png') no-repeat 0% 50%;
background-size:auto 40px ;
width:40%;
height: 50px;
}
@media (max-width:992px) {
	.logo-web {
	background-size:auto 40px ;
	width:80%;
	height: 44px;
	}
}
h1, h2 {font-family: 'Fredoka One';}
p {font-family: 'Quicksand';}
label {color: #0066FF;}
/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center;}
.tex-blanco  { color: #fff; }
.tex-gris  { color: #666; }
.tex-grisi  { color: #ccc; }
.tex-azul { color: #336699; }
.tex-amarillo { color: #FFCC00; }
.justif-right {width:auto; overflow:hidden; display:block; float:right;}
.hide  { display: none; border:1px solid red;}
.alt { display: block;}
.show { display: inherit;}
#hide  { display: none; }
#show { display: inherit;}
#alt { display: block;}
.underline{text-decoration:underline;}
.color_1 { background: #CCE6FF;}
.color_2 { background:#fff;}
.strong {font-weight: bold;}
.columna-a { width:50%; float:left; overflow:hidden; padding:0;}
.columna-b { width:50%; float:left; overflow:hidden; padding:0;}
.space { margin: 0px 10px 0px 0px;}
#content {margin: 0px; padding:0px;}
#content_reset { background: #CCCCCC;}
#loader {
background: #fff url('../image/loader.gif') no-repeat 50% 50%;
background-size:31px 31px ;
width:33px;
height:33px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.row {
margin:0px 0px 0px 0px;
}
.lin {	COLOR: #333; TEXT-DECORATION: none; }
.lin:visited {	COLOR: #333; TEXT-DECORATION: none; }
.lin:hover { COLOR: #000; TEXT-DECORATION: undeline;}
.linCRONYM { CURSOR: help; }

.list_menu {
padding:10px 0px 10px 0px;
border-bottom: 1px solid #666;
text-align:center;
overflow: hidden;
}
.minitex { font-size: 12px;}
.tabl { 
margin: 0px 0px 0px 0px;
border-bottom: 1px solid #ccc;
overflow:hidden;
}
.tabl li { 
list-style: none outside none;
overflow:hidden;
margin:0px;
padding:10px 0px 10px 0px;
line-height:100%;
font-family: 'Roboto';
}

.fil-5 { 
width:5%;
float:left;
}
.fil-10 { 
width:10%;
float:left;
}
.fil-15 { 
width:15%;
float:left;
}
.fil-20 { 
width:20%;
float:left;
}
.fil-25 { 
width:25%;
float:left;
}
.fil-30 { 
width:30%;
float:left;
}
.fil-35 { 
width:35%;
float:left;
}
.fil-40 { 
width:40%;
float:left;
}
.fil-50 { 
width:50%;
float:left;
}
.fil-60 { 
width:60%;
float:left;
}
.fil-70 { 
width:70%;
float:left;
}
.fil-75 { 
width:75%;
float:left;
}
.fil-85 { 
width:85%;
float:left;
}
.fil-100 { 
width:100%;
float:none;
}
.fil-33 { 
width:33.33333%;
float:left;
}
.tabl li a { 
	background: inherit; 
	color: #000000; 
	text-decoration: none; 
}
.tabl li a:hover { 
	background: inherit; 
	color: #000000; 
	text-decoration: none; 
}
.tabl{ CURSOR: auto; TEXT-DECORATION: none; }
.tabl:hover { background: #eee; TEXT-DECORATION: none; }
.conten_panel {
 width:100%; height: 400px;  overflow: auto; overflow-x: hidden;
	border:0px solid #ccc; 
}
.alinear  { float: left; text-align:right;}
.imaprod {
width: 100%; 
height: 260px; 
cursor:pointer;
}
.marginar {
margin:0px;
padding:0px;
}
i { 
margin: 0px 3px 0px 3px;
}
.tipo-send h4 {
float: left;
width:33px;
text-align:center;
margin:7px 8px 4px 8px;
cursor:pointer;
}
.estilos_banner { 
cursor: inherit; 
border:1px solid #dfdcdc;
}
@media (max-width:992px) {
	.tabl li { 
	padding:5px 0px 5px 0px;
	}
	.alinear  { float: right; text-align:center;}
	.file-mov-ocult { 
	display: none;
	}
	.file-mov-100 { 
	width:100%;
	float:none;
	}
	.file-mov-50 { 
	width:50%;
	float:left;
	}
	.file-mov-30 { 
	width:30%;
	float:left;
	}
	.file-mov-33 { 
	width:33.33333%;
	float:left;
	}
	.file-mov-25 { 
	width:25%;
	float:left;
	}
	.file-mov-70 { 
	width:70%;
	float:left;
	}
	.file-mov-75 { 
	width:75%;
	float:left;
	}
	.file-mov-85 { 
	width:85%;
	float:left;
	}
	.file-mov-15 { 
	width:15%;
	float:left;
	}
	.file-mov-10 { 
	width:10%;
	float:left;
	}
	.mb-lg-0 {
	width:100%;
	float:none;
	}
	.btn-light {
	width:100%;
	margin-top: 2px;
	}

	.imaprod {
	height: 400px; 
	}
	
	i { 
	font-size: 20px;
	padding: 0px;
	margin: 0px 1px 0px 0px;
	}
	.columna-a { width:100%; float:none; overflow:hidden; padding:0;}
	.columna-b { width:100%; float:none; overflow:hidden; padding:0;}
	

}

.save {
background: url('../image/iconos/disk.png') no-repeat 50% 50%;
background-size:auto auto;
width:22px;
height: 18px;
float:left;
}


