	
	<li class="fil-20 file-mov-50">
	<select id="rela_system_501" name="rela_system_501" class="form-control">
	<option value=''>Selecciones localidad</option>
	{LOCALIDADES}				
	</select>
	</li>	
	<li class="fil-10 file-mov-50">
	<input type="text" class="form-control" id="system_502_circuito" name="system_502_circuito" value="{system_502_circuito}" placeholder="00A" maxlength="3" style=" width:60px;">			
	</li>
    <li class="fil-70 file-mov-50 align-right tipo-send">
	<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
	<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
	</li> 
	
					
			



