	<li class="fil-10  file-mov-50">
	<input type='text' value='{system_2000_dni}'  class="form-control dni"  placeholder="DNI"  {disabled}>
	</li>		
	<li class="fil-30 file-mov-50">
		<input type='text'  class="form-control"  value='{system_2000_apellido}' style="float:left; width:50%;"  placeholder="Apellido"  {disabled}>
		<input type='text'  class="form-control"  value='{system_2000_nombre}' style="width:50%; float:left;"  placeholder="Nombre"   {disabled}>
	</li>
	<li class="fil-20 file-mov-50">
	<select class="form-control" id="rela_system_504" name="rela_system_504">
		{LISTADO_PUEBLOS}				
	</select>
	</li>
	<li class="fil-30 file-mov-50">
		<input type='text'  class="form-control" name='system_2000_domicilio'  id="system_2000_domicilio" value='{system_2000_domicilio}'  placeholder="Domicilio..." maxlength="120">
	</li>
	<li class="fil-10 file-mov-50 align-right tipo-send">
	<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
	<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
	</li> 
