	
	<li class="fil-100 ">
		<input type="text" class="form-control" id="system_504_pueblo" name="system_504_pueblo" value="{system_504_pueblo}" placeholder="Pueblo/Localidad.." maxlength="120">			
	</li>	
	<li class="fil-100 ">
		<textarea class="form-control" placeholder="Google Maps..." id="system_504_mapsgoogle" name="system_504_mapsgoogle"  cols="" rows="10">{system_504_mapsgoogle}</textarea>
	</li>
    <li class="fil-100 align-right tipo-send">
		<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
		<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
	</li> 
	
					
			



