


body { 
background:#ccc;
font-family: 'arial', Tahoma, Sans-serif;
}

.minitex { font-size: 12px;}
.tabl { 
margin: 0px 0px 0px 0px;
border-bottom: 1px solid #ccc;
overflow:hidden;
}
.tabl li { 
list-style: none outside none;
overflow:hidden;
margin:0px;
padding:10px 0px 10px 0px;
line-height:100%;
font-family: 'arial';
}

.fil-5 { 
width:5%;
float:left;
}
.fil-10 { 
width:10%;
float:left;
}
.fil-15 { 
width:15%;
float:left;
}
.fil-20 { 
width:20%;
float:left;
}
.fil-25 { 
width:25%;
float:left;
}
.fil-30 { 
width:30%;
float:left;
}
.fil-35 { 
width:35%;
float:left;
}
.fil-40 { 
width:40%;
float:left;
}
.fil-50 { 
width:50%;
float:left;
}
.fil-60 { 
width:60%;
float:left;
}
.fil-70 { 
width:70%;
float:left;
}
.fil-75 { 
width:75%;
float:left;
}
.fil-85 { 
width:85%;
float:left;
}
.fil-100 { 
width:100%;
float:none;
}
.fil-33 { 
width:33.33333%;
float:left;
}
.tabl li a { 
	background: inherit; 
	color: #000000; 
	text-decoration: none; 
}
.tabl li a:hover { 
	background: inherit; 
	color: #000000; 
	text-decoration: none; 
}
.tabl{ CURSOR: auto; TEXT-DECORATION: none; }
.tabl:hover { background: #eee; TEXT-DECORATION: none; }
.conten_panel {
width:100%; height: 600px;  overflow: auto; overflow-x: hidden;
border-bottom:1px solid #fff; 
}
.alinear  { float: left; text-align:right;}
.imaprod {
width: 100%; 
height: 260px; 
cursor:pointer;
}
.marginar {
margin:0px;
padding:0px;
}
i { 
margin: 0px 3px 0px 3px;
}
.tipo-send h4 {
float: left;
width:33px;
text-align:center;
margin:7px 8px 4px 8px;
cursor:pointer;
}
.estilos_banner { 
cursor: inherit; 
border:1px solid #dfdcdc;
}
@media (max-width:992px) {
	.tabl li { 
	padding:15px 0px 15px 0px;
	}
	.alinear  { float: right; text-align:center;}
	.file-mov-ocult { 
	display: none;
	}
	.file-mov-100 { 
	width:100%;
	float:none;
	}
	.file-mov-50 { 
	width:50%;
	float:left;
	}
	.file-mov-40 { 
	width:40%;
	float:left;
	}
	.file-mov-30 { 
	width:30%;
	float:left;
	}
	.file-mov-33 { 
	width:33.33333%;
	float:left;
	}
	.file-mov-25 { 
	width:25%;
	float:left;
	}
	.file-mov-70 { 
	width:70%;
	float:left;
	}
	.file-mov-75 { 
	width:75%;
	float:left;
	}
	.file-mov-80 { 
	width:80%;
	float:left;
	}
	.file-mov-85 { 
	width:85%;
	float:left;
	}
	.file-mov-15 { 
	width:15%;
	float:left;
	}
	.file-mov-10 { 
	width:10%;
	float:left;
	}
	.mb-lg-0 {
	width:100%;
	float:none;
	}
	.btn-light {
	width:100%;
	margin-top: 2px;
	}

	.imaprod {
	height: 400px; 
	}
	
	i { 
	font-size: 30px;
	padding: 0px;
	margin: 0px 10px 0px 0px;
	}
	#columna-a { width:100%; float:left;  padding:0;}
	#columna-b { width:100%; float:right; padding:0;}
	#columna-c { width:100%; float:left;  padding:0;}
	#columna-d { width:100%; float:right; padding:0;}
	
	.estilos_banner {
	background-size: auto auto; 
	cursor: inherit; 
	border:0px solid #ccc;
	height: 200px;
	}
	.dni {
	font-size: 11px;
	}
}

.save {
background: url('../image/iconos/disk.png') no-repeat 50% 50%;
background-size:auto auto;
width:22px;
height: 18px;
float:left;
}

.select_desplegable {
background: #000;
background-size:18px 18px ;
width:18px;
height:18px;
border:0px;
color:#FFFFFF;
float:left; 
margin:0px 10px 0px 0px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}




.title { position: absolute;
z-index: 0;
}
.title:hover { background-color: transparent;
z-index: 1;
}
.title span {
padding: 4px;
position: absolute;
text-decoration: none;
background-color: #ccc;
width: 300px;
text-align: left;
visibility: hidden;
font-family: tahoma;
font-weight:100;
font-size: 14px;
line-height: 120%;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;

}
.title:hover span { visibility: visible;
top: 0px;
left: 0px;
}



.puch_save {
	z-index:11;
	animation-name: puch;
	animation-duration: 1.0s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
@keyframes puch {
	from {
	background-color: #FF9900;
	color: #000;
	font-size: 12px;
	}
	to {
	background-color: #fff;
	color: #000;
	}
}			  


