	<li class="fil-10  file-mov-50">
	<input type='text' value='{system_700_dni}' class="form-control dni" placeholder="DNI" maxlength="10" disabled>
	</li>		
	<li class="fil-30 file-mov-50">
		<input type='text'  class="form-control" name='system_700_apellido' id="system_700_apellido"  value='{system_700_apellido}' style="float:left; width:50%;"  placeholder="Apellido" maxlength="33">
		<input type='text'  class="form-control" name='system_700_nombre' id="system_700_nombre" value='{system_700_nombre}' style="width:50%; float:left;"  placeholder="Nombre" maxlength="44">
	</li>
		<li class="fil-20 file-mov-50">
		<input type='text'  class="form-control" name='system_700_domicilio'  id="system_700_domicilio" value='{system_700_domicilio}'  placeholder="Domicilio" maxlength="60">
	</li>
	<li class="fil-10 file-mov-50">
		<input type='text'  class="form-control" name='system_700_dpto'  id="system_700_dpto" value='{system_700_dpto}'  placeholder="Departamento" maxlength="33">
	</li>
	<li class="fil-20 file-mov-50">
		<input type='text'  class="form-control" name='system_700_localidad'  id="system_700_localidad" value='{system_700_localidad}'  placeholder="Localidad" maxlength="53">
	</li>
	<li class="fil-5 file-mov-50">
		<select class="form-control" name="system_700_estado" id="system_700_estado"  >
		{ESTADO}
		</select>
		<input type='hidden'  class="form-control" name='system_700_sexo'  id="system_700_sexo" value='{system_700_sexo}'  placeholder="Sexo" maxlength="1">
	</li>
	<li class="fil-5 file-mov-50 align-right tipo-send">
	<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
	<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
	</li> 
