<div class="tabl" id="content_{id_system_701}">
	<li class="fil-5  file-mov-ocult">
		{DOWN}
	</li>
	<li class="fil-15 file-mov-20 align-center" onclick="{funcion_entrar}" style="cursor:pointer;">
		<strong>{system_701_num}</strong>
	</li>	
	<li class="fil-20  file-mov-50" onclick="{funcion_entrar}" style="cursor:pointer;">
		{system_apellido_nombre}
	</li>	
	<li class="fil-10 file-mov-30">
		{system_703_procedencia}
	</li>	
	<li class="fil-10 file-mov-30 align-center">
		{total}
	</li>
	<li class="fil-30 file-mov-75 minitex">
		{system_701_observaciones}
	</li>
    <li class="fil-10 file-mov-25 align-right">	
		<a href="javascript:;" onclick="{funcion_borrar}" title="Borrar: {system_apellido_nombre}"><i class="bi bi-trash-fill"></i></a>	
	</li>
</div>	



