<div id="content_print">
	
	<table width="100%" border="0px" cellpadding="0px" cellspacing="50px">
	<tr>
		<td align="center"><br />
<br />

		<h3>{system_04_apellido} {system_04_nombre} - DNI: {system_04_dni}</h3>
		 Domicilio: {system_04_domicilio} - Circuito: {system_04_circuito} - {system_501_departamento}
		</td>
	</tr>	
	<tr>
		<td align="center">
		<br />
<br />
<br />

		<h2>Escuela: {system_503_escuela} - Mesa: {system_503_mesa} - N&deg; de Orden: {system_04_orden}</h2>
		
		Direcci&oacute;n de escuela: {system_503_direccion}
		
		</td>
	</tr>	
	</table>

</div>

	<div align="center">
		<a href="javascript:;" onClick="printcontent()" class=""><img src="../image/iconos/imprimir.png" height="32px" border="0"></a>			
	</div>	
