<nav class="navbar navbar-light bg-light">
  <div class="container">
	<div class="col-md-3 col-sm-3">
		<h3>Asistencia</h3>
	</div>
	<div class="col-md-9 col-sm-9">
	
			
			
				<ul class="nav justify-content-end">
				<button type="button" class="btn btn-primary mb-3" onClick="{funcion_actualiar}">&nbsp;&nbsp;<i class="bi bi-arrow-clockwise"></i>&nbsp;&nbsp;</button>
		
				</ul>
	
				
			
		

	</div>  
  </div>
</nav>


	<div class="container">
		<div class="row">

			<table width="100%" border="0px" cellspacing="0px" cellpadding="0px">
			<tr >
				<td align="center">
				<br />
				
				<h5>EN GENERAL</h5>
				</td>
			</tr>
			<tr >
				<td>
					{barra_general}
				</td>
			</tr>
			<tr >
				<td align="center">
				<br />
				<h5>POR DEPARTAMENTO</h5>
				</td>
			</tr>
			<tr >
				<td>
					{barra_formosa}
				</td>
			</tr>
			<tr >
				<td>
					{barra_bermejo}
				</td>
			</tr>
			<tr >
				<td>
					{barra_LAISHI}
				</td>
			</tr>
			<tr >
				<td>
					{barra_MATACOS}
				</td>
			</tr>
			<tr >
				<td>
					{barra_PATINO}
				</td>
			</tr>
			<tr >
				<td>
					{barra_PILAGAS}
				</td>
			</tr>
			<tr >
				<td>
					{barra_PILCOMAYO}
				</td>
			</tr>
			<tr >
				<td>
					{barra_PIRANE}
				</td>
			</tr>
			<tr >
				<td>
					{barra_RAMONLISTA}
				</td>
			</tr>
			<tr >
				<td align="center">
				<br />
				<br />

				
				</td>
			</tr>
			</table>

		</div>
	</div>
