<nav class="navbar navbar-light bg-light">
  <div class="container">
  	<div class="col-md-10 col-sm-10">
		<h3>Votos seguro de {system_apellido_nombre} | {consulto_contacto_perfil}</h3>
	</div>
	<div class="col-md-2 col-sm-2">	
			<ul class="nav justify-content-end ">
				 <h3 onClick="{funcion_volver}" class="bi bi-x-lg"></h3>
			</ul>		
	</div>  
  </div>
</nav>

<section>
	<div class="container">
	
 		<div class="tabl">
				<li class="fil-10  file-mov-ocult strong">
				N&deg; Planilla
				</li>	
				<li class="fil-50  file-mov-ocult strong">
				Apellido Nombre (DNI) / Domicilio
				</li>
				<li class="fil-10  file-mov-ocult strong">
				Escuela
				</li>	
				<li class="fil-10  file-mov-ocult strong">
				Mesa
				</li>
				<li class="fil-10  file-mov-ocult strong">
				Orden
				</li>
				<li class="fil-10  file-mov-ocult strong">
				Vot&oacute;
				</li>
			</div>
				{LISTADO}		
			<div class="tabl">
				<li class="fil-50 file-mov-50">
				{DOWN}	
					<br />
					&nbsp;		
				</li>
				<li class="fil-50 file-mov-50 align-right">
					&nbsp;
				</li>	
			</div>
<br />
<br />
<br />
<br />
<br />

	</div> 
</section>