<div class="tabl">
	<li class="fil-10  file-mov-20 ">
		{rela_system_601}
	</li>	
	<li class="fil-50  file-mov-80 ">
		{system_600_apellido_nombre} (<span class="dni">{system_600_dni}</span>) 
		<br />
		<span class="minitex">{system_600_domicilio}</span>
	</li>
	<li class="fil-10  file-mov-25 ">
		{funcion_ver_escuela}
	</li>	
	<li class="fil-10  file-mov-25 ">
		{system_600_mesa}
	</li>
	<li class="fil-10  file-mov-25 ">
		{system_600_orden}
	</li>
	<li class="fil-10  file-mov-25 ">
		{system_600_estado}
	</li>
</div>