<nav class="navbar">
  <div class="container">
  	<div class="col-md-11 col-sm-11">
		<h3>{titulo_modulo}</h3>
	</div>
	<div class="col-md-1 col-sm-11">
		<div class="justif-right {no_ver}">		
			<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
		</div>
	</div>  
  </div>
</nav>

<section>
	<div class="container">
	
		
				
			 <div class="tabl">
				<li class="fil-10  file-mov-ocult strong">
				Nro
				</li>
				<li class="fil-20  file-mov-ocult strong">
				DNI
				</li>
				<li class="fil-70  file-mov-ocult strong">
				Dirigente
				</li>		

			</div>	 		
						
				{LISTADO}
						
			<div class="tabl">
				<li class="fil-70">	
					{PAGINAR}&nbsp;&nbsp;&nbsp;{EXCELES}			
				</li>
				<li class="fil-30 align-right">
					&nbsp;&nbsp;
				</li> 	
			</div>
			
			
			
			
			
	</div> 
</section>


