<nav class="navbar navbar-dark bg-dark" style=" background: #006699;">
  <div class="container">
  	<div class="col-md-11 col-sm-11">
		<h3 style="color:#fff;">Info Modelo Formose&ntilde;o</h3>
	</div>
	<div class="col-md-1 col-sm-11">
		<div class="justif-right">		
			<a href="javascript:;" onclick="window.history.back();" title="Volver" style="color:#fff;"><i class="bi bi-x-lg"></i></a>
		</div>
	</div>  
  </div>
</nav>


<section>	
	<div id="resultado_dinamico">
	
	
	
		
		
	</div>
</section>