<div class="col-sm-4 col-md-4 col-xl-4">
	<div class="card" style=" margin-bottom:10px; cursor:pointer;" onclick="location.href='{funcion_ver_producto}'">
	  	<div style="background: #333 url('{funcion_optengo_imagen}') no-repeat 50% 50%;  background-size: cover;" class="imaprod card-img-top">
		</div>
	  <div class="card-body">
		<h5 class="card-title" style=" height:40px;">{system_11_producto}</h5>
	  </div>
	  <ul class="list-group list-group-flush">
		<li class="list-group-item">
			<h5 align="center">{ver_reacciones}</h5>
		</li>
	  </ul>
	</div>
</div>	
