		<li class="fil-30 file-mov-50">
			<input type="text" class="form-control" id="system_505_escuela" name="system_505_escuela" value="{system_505_escuela}" placeholder="Escuela..." maxlength="120">
		</li>
		<li class="fil-10 file-mov-50">
			<input type="text" class="form-control" id="system_505_circuito" name="system_505_circuito" value="{system_505_circuito}" placeholder="00A" maxlength="3" onkeyup="{funcion_selector_pueblo}">
		</li>
		<li class="fil-20 file-mov-50">
			<span id="selector_pueblo">
			<select class="form-select" aria-label="Default select example" name="rela_system_504" id="rela_system_504" disabled >
				<option value='{rela_system_504}' SELECTED >{rela_system_504}</option>
			</select></span>
		</li>	
		<li class="fil-20 file-mov-100">
			<input type="text" class="form-control" id="system_505_direccion" name="system_505_direccion" value="{system_505_direccion}" placeholder="Direccion..." maxlength="120">
		</li>	
		<li class="fil-10 file-mov-100">
			<textarea class="form-control" placeholder="Google Maps..." id="system_505_googlemaps" name="system_505_googlemaps"  cols="" rows="2">{system_505_googlemaps}</textarea>
		</li>
		<li class="fil-10 file-mov-100 align-right tipo-send">
			<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
			<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
		</li> 

	