<div class="tabl"  id="content_{id_system_505}" >
		<li class="fil-30 file-mov-100" onclick="{funcion_editar}">
			{system_505_escuela}
		</li>
		<li class="fil-10 file-mov-100" onclick="{funcion_editar}">
			{system_505_circuito}
		</li>
		<li class="fil-20 file-mov-100" onclick="{funcion_editar}">
			{rela_system_504}
		</li>
		<li class="fil-20 file-mov-100" onclick="{funcion_editar}">
			{system_505_direccion}
		</li>	
		<li class="fil-20 file-mov-100  align-right">
			{system_505_googlemaps}
		</li>	 
</div>