	
	<li class="fil-10 file-mov-50">
	&nbsp;{id_system_01}
	</li>
	<li class="fil-10 file-mov-50">
	<input name='system_01_orden' id="system_01_orden" class="form-control" type='text' value='{system_01_orden}' maxlength="2">
	</li>
	<li class="fil-30 file-mov-50">
	<input name='system_01_modulo' id="system_01_modulo" class="form-control" type='text' value='{system_01_modulo}' maxlength="22">
	</li>
	<li class="fil-20 file-mov-50">
	<input name='system_01_path_home' id="system_01_path_home" type='text' class="form-control" value='{system_01_path_home}' maxlength="22" />
	</li>	
	<li class="fil-10 file-mov-33">
	<select name="system_01_tipo" id="system_01_tipo"  class="form-control" >
	<option value=""></option>
	{TIPO}
	</select>
	</li>		
	<li class="fil-10 file-mov-33">
	<select name="system_01_onoff" id="system_01_onoff"  class="form-control" >
	{ESTADO}
	</select>
	</li>
    <li class="fil-10 file-mov-33 align-right tipo-send">
	<h4 onClick="{funcion_guardar}" class="bi bi-caret-right-square-fill"></h4>
	<h4 onClick="{funcion_volver}" class="bi bi-x-lg"></h4>
	</li> 
	 		






